#search-box {
  display: flex;
  border: 1px solid black;
  border-radius: 0.5rem;
  align-items: center;
}

#search-box > input {
  font-family: Bitter, sans-serif;
  font-weight: 350;
  background-color: #fcfbbc;
  width: 20rem;
  padding: 0.6rem;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
}

#search-box > input:focus{
  background-color: #fcfbbccb;
}

#search-box > input:hover{
  background-color: #fcfbbccb;
}

#search-box > button {
  cursor: pointer;
  background-color: #e8bbfb;
  border: none;
  border-left: 1px solid black;
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 0.5rem 1rem;
}

#search-box > button:hover {
  background-color: #ce70f6;
}

#search-box > button:active {
  transform: translateY(0.5px);
}