header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  background-color: #ff8000;
  border: 1px solid #ac2000c6;

  h1 {
    font-family: "Galada";
    font-size: 1.8rem;
    cursor: pointer;
    color: #ff2d03;
    margin: 0 1rem;
    &:hover {
      color: #ff2d03cc;
    }
  }
}

nav {
  display: flex;
  & > ul {
    margin: 0rem 1.5rem 0 3rem;
    gap: 2rem;
    display: flex;
    align-items: center;
    li span {
      font-size: 1.3rem;
      font-weight: 600;
      color: #ff2d00e6;
      &:hover {
        color: #ff0000;
      }
    }
  }
}
