#profile {
  display: flex;
  background-color: #f83600b3;
  border-radius: 50%;
  & > svg {
    cursor: pointer;
    padding: 3px;
  }

  #profile-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #eee9e9;
    padding: 5px;
    border: 1px solid #70707095;
    border-radius: 5px;
    right: 2rem;
    top: 4rem;
    z-index: 1;

    #arrow-top {
      cursor: pointer;
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #eee9e9;
      border-left: 10px solid transparent;
      position: absolute;
      top: -1.9rem;
      right: 0.4rem;
    }
  }
}

.hidden {
  visibility: hidden;
}
