.vehicle-card {
  background-color: #ff8000e6;

  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
}

.vehicle-card > a {
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  padding: 0px;
  overflow: hidden;
}

.vehicle-card:hover img {
  transition: all 1s;
  transform: scale(1.1);
}

.vehicle-card img {
  width: 100%;
}

.vehicle-info {
  font-family: Bitter;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.vehicle-info > p,
h3 {
  color: #4f0000;
}

.vehicle-info a {
  color: #4f0000;
  padding: 0px;
}

.vehicle-info a:hover {
  color: #ff0000;
}
