#main-nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-right: 1rem;

  & > button {
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 600;
    color: #ff2d00e6;
    &:hover {
      color: #ff0000;
    }
  }
}

@keyframes langDropdown {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes langDropdownMd {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 1200px) {
  #main-nav-links {
    gap: 1.5rem;

    & > button {
      font-size: 1.2rem;
    }
  }
}

@media only screen and (max-width: 920px) {
  #main-nav-links {
    gap: 1rem;

    & > button {
      font-size: 1.1rem;
    }
  }
}

@media only screen and (max-width: 720px) {
  #main-nav-links {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;

    & > button {
      width: 100%;
      padding: 0.5rem 0;
      border-bottom: 1px solid #0000004d;
      font-size: 0.8rem;
      color: #db0707;
      text-transform: lowercase;
      &:hover {
        background-color: #fea516;
        transition: 0.2s;
      }
    }
  }
}
