#form {
  width: 40%;
  min-height: 45vh;
  background-color: #2244778c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  margin-top: 5rem;
}

#display {
  width: 60%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 2rem;
    color: #000936d9;
    font-family: Bitter;
    margin: 2rem 0 1rem 0;
    font-weight: 800;
  }

  input {
    width: 100%;
    font-size: 1rem;
    font-family: Bitter;
    font-weight: 600;
    padding: 0.5rem;
    &:hover {
      border: 2px solid #2249bd;
      border-radius: 3px;
    }
  }

  .errors > p {
    font-family: Bitter;
    font-weight: 600;
    color: #ff2121cc;
    margin-bottom: 0.3rem;
    text-align: center;
  }
}

#control {
  width: 80%;
  display: flex;
  flex-direction: column;

  & > div {
    width: 50%;
    align-self: center;
    margin: 0.5rem 0 1.5rem 0;
    display: flex;
    justify-content: space-between;
    & > button:last-child {
      background-color: #2b489fa6;
      color: #fff;
      padding: 0.5rem;
      border-radius: 4px;
      &:hover {
        background-color: #2b489fe6;
      }
    }
  }

  & > button {
    color: #3434ffd9;
    font-size: 0.9rem;
    font-weight: 600;
    align-self: center;
    margin-bottom: 1rem;
    &:hover {
      color: #1a1aff;
    }
  }
}

@media only screen and (max-width: 1400px) {
  #form {
    width: 55%;
  }
}

@media only screen and (max-width: 1100px) {
  #form {
    width: 65%;
  }

  #display {
    width: 70%;
  }

  #control > div {
    width: 55%;
  }
}

@media only screen and (max-width: 800px) {
  #form {
    width: 75%;
  }

  #display {
    width: 80%;
  }

  #control > div {
    width: 65%;
  }
}

@media only screen and (max-width: 600px) {
  #form {
    width: 90%;
  }

  #display {
    width: 85%;
  }

  #control > div {
    width: 75%;
  }
}

@media only screen and (max-width: 420px) {
  #form {
    width: 100%;
  }

  #display {
    width: 90%;
  }

  #control > div {
    width: 90%;
  }
}
