#image-upload {
  align-self: flex-start;
  color: #fff;
  background-color: #2b489fa6;
  border-radius: 5px;
  box-shadow: 1px 1px #0000cfe9;
  margin-bottom: 1rem;
  &:hover {
    background-color: #2b489fe6;
  }
  &:active {
    transform: translateY(1px);
  }
}
