#error {
  margin-top: 2rem;
  width: 80vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(218, 67, 3, 0.35);
}

#error > h1 {
  font-size: 3rem;
  font-weight: 400;
  color: rgba(215, 0, 0, 0.805);
}
