#no-data {
  margin-top: 2rem;
  width: 80vw;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(12, 44, 161, 0.215);
}

#no-data > h1 {
  font-size: 3rem;
  font-weight: 400;
  color: rgba(12, 37, 161, 0.7);
}
