#user {
  width: 80%;
  border: 1px solid black;
  background-color: #d5d3d3;
}

#user-header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid black;
  margin-bottom: 0.5rem;
}

#user-header > h2 {
  font-family: Galada;
  color: #0000ffc6;
  font-weight: 400;
}

#user-header > a {
  font-size: 1.2rem;
  border-radius: 5px;
  color: #ffffffdb;
  background-color: #0000ffc6;
}

#user-header > button:hover {
  color: #ffffff;
  background-color: #0000ffda;
}

#user-vehicles {
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

#user-vehicles:last-child {
  margin-bottom: 0.5rem;
}

.user-vehicle {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  margin: 0.5rem 3rem;
  border: 1px solid black;
  background-color: #4878eba8;
}

.user-vehicle > img {
  width: 200px;
}

.user-vehicle > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vehicle-control {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.vehicle-control > button:first-child {
  font-weight: 600;
  color: #ff0000bd;
}

.vehicle-control > button:first-child:hover {
  color: #ff0202;
}

.vehicle-control > a:last-child {
  color: #ffffffdb;
  border-radius: 5px;
  padding: 0.5rem 1.4rem;
  background-color: #0000ffc6;
}

.vehicle-control > a:last-child:hover {
  color: #fff;
  background-color: #0000ffda;
}
