#vehicle {
  max-width: 1000px;
  margin: 0 auto;
}

#vehicle > img {
  border-radius: 10px;
  max-width: 400px;
  margin: 0 1rem 1rem 0;
  float: left;
}

#vehicle > p {
  font-size: 1.5rem;
}

#vehicle-details {
  font-family: Bitter, sans-serif;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

#vehicle-details > p {
  color: rgb(79, 78, 78);
  font-weight: 600;
}

#vehicle-details > p:last-child {
  margin-left: auto;
  background-color: rgb(252, 255, 215);
  color: rgb(0, 95, 25);
  padding: 0.4rem 0.8rem;
  border: 1px solid black;
  border-radius: 10px;
}
