header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  background-color: rgb(255, 128, 0);
  border: 1px solid rgba(172, 32, 0, 0.777);
}

header h1 {
  font-family: "Galada";
  font-size: 1.8rem;
  cursor: pointer;
  color: rgba(255, 45, 3, 1);
  margin: 0 1rem;
}

header h1:hover {
  color: rgba(255, 45, 3, 0.8);
}

nav {
  display: flex;
}

nav > ul {
  margin: 0rem 1.5rem 0 3rem;
  gap: 2rem;
  display: flex;
  align-items: center;
}

li span {
  font-size: 1.3rem;
  font-weight: 600;
  color: rgba(255, 45, 0, 0.9);
}

li span:hover {
  color: rgb(255, 0, 0);
}