#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #bdf688b0;
  margin-top: 1rem;
  padding: 0.3rem 1rem 0.5rem 1rem;
  width: 14rem;
  border-radius: 20px;
}

#loading > h1 {
  font-size: 2.5rem;
  font-family: Dancing Script, sans-serif;
  font-weight: 600;
  color: #005d0b;
}

.loader {
  margin-top: 0.5rem;
  width: 2rem;
  height: 2rem;
  border: 3px solid #005d0b;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1.3s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
