#search-box {
  display: flex;
  border: 1px solid black;
  border-radius: 0.5rem;
  align-items: center;
}

#search-box > input {
  font-family: Bitter, sans-serif;
  font-weight: 350;
  background-color: rgb(252, 251, 188);
  width: 20rem;
  padding: 0.6rem;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
}

#search-box > input:focus{
  background-color: rgba(252, 251, 188, 0.795);
}

#search-box > input:hover{
  background-color: rgba(252, 251, 188, 0.795);
}

#search-box > button {
  cursor: pointer;
  background-color: rgb(232, 187, 251);
  border: none;
  border-left: 1px solid black;
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 0.5rem 1rem;
}

#search-box > button:hover {
  background-color: rgb(206, 112, 246);
}

#search-box > button:active {
  transform: translateY(0.5px);
}